<div>
  <a href="{{ url('<current>') }}/video">
    <img src="{{ base_path ~ directory }}/images/video-player.png" alt="video player" style="width:110px; height:110px; padding-top: 100px;">
  </a>
</div>
