@font-face {
  font-family: 'BlockBertholdRegular';
  src: url('../../font/BlockBertholdRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../../font/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../font/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size-title: 40px;
  --font-family-title: 'BlockBertholdRegular', sans-serif;
  --font-size-body: 29px;
  --font-family-body: 'HelveticaNeueLight', sans-serif;
  --font-size-circles: 50px;
  --font-family-list: 'HelveticaNeue', sans-serif;
  --font-size-li: 40px;
  --font-size-breadcrumb: 25px;

  --padding-right-language-switcher: 45px;
  --padding-right-language-switcher-lis: 5px;
  --margin-left-main: 70px;
  --gap-between-columns: 100px;
  --margin-bottom-main-lis: 30px;
  --home-top: 10px;
  --home-left: 20px;

  /*--screen-font-size-title: 40px;*/
  /*--screen-font-family-title: 'BlockBertholdRegular', sans-serif;*/
  /*--screen-font-size-body: 29px;*/
  /*--screen-font-family-body: 'HelveticaNeueLight', sans-serif;*/
  /*--screen-font-size-circles: 50px;*/
  /*--screen-font-family-list: 'HelveticaNeue', sans-serif;*/
  /*--screen-font-size-li: 40px;*/
  /*--screen-font-size-breadcrumb: 30px;*/
  /*--screen-padding-right-language-switcher: 45px;*/
  /*--screen-padding-right-language-switcher-lis: 5px;*/
  /*--screen-margin-left-main: 70px;*/
  /*--screen-gap-between-columns: 80px;*/
  /*--screen-margin-bottom-main-lis: 30px;*/
  /*--screen-home-bottom: 10px;*/
  /*--screen-home-right: 20px;*/
  /*--screen-home-button-heigh: 100px;*/
}

body{
  font-family: var(--font-family-body);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-body);
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: white;
}

body .dialog-off-canvas-main-canvas{
  width: 100vw;
}

/* Language switcher */
header #block-languageswitcher ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: var(--padding-right-language-switcher);
}

#block-computerspill-breadcrumbs a,
#block-languageswitcher {
  font-size: var(--font-size-breadcrumb);
}

header #block-languageswitcher ul li{
  padding-right: var(--padding-right-language-switcher-lis);
  list-style: none;
}

header #block-languageswitcher ul li:nth-child(2):before{
  content: '/';
  padding-right: var(--padding-right-language-switcher-lis);
  color: lightgray;
}

header #block-languageswitcher ul li a{
  color: lightgray;
}

main {
  margin-left: var(--margin-left-main);
  margin-right: var(--margin-left-main);
  margin-bottom: 50px;
}

/* Title */
main #block-computerspill-page-title{
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  font-weight: normal;
  text-transform: uppercase;
}

/* List */
main ul,
main ol{
  /*column-count: 2;*/
  /*column-gap: var(--gap-between-columns);*/
}

main .views-element-container > div{
  display: flex;
  flex-flow: row wrap;
  margin-left: 42px;
}

main .views-element-container .views-row{
  list-style-type: disc;
  display: list-item;
  width: calc(50% - 30px);
  padding-right: 30px;
}

main ul li:not(.kint*),
main ol li,
main .views-element-container .views-row{
  font-family: var(--font-family-list);
  font-size: var(--font-size-circles);
  margin-bottom: var(--margin-bottom-main-lis);
}

main ul li a,
main ol li a,
main .views-element-container .views-row a{
  font-size: var(--font-size-li);
  font-weight: bold;
}

/* Content */
main div.align-left img{
  width: 100px;
  height: 100px;
}

/* Home icon */
[id^="block-home"],
[id^="block-hjem"]{
  position: fixed;
  top: var(--home-top);
  left: var(--home-left);
  z-index: 9999;
}

[id^="block-home"] img,
[id^="block-hjem"] img{
  width: 45px;
  height: 45px;
  padding-top: 10px;
  padding-left: 10px;
}

/*#block-computerspill-breadcrumbs ol{*/
/*  list-style: none;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

/*video{*/
/*  width: 100vw;*/
/*  height: calc(100vh - var(--home-button-heigh));*/
/*  margin-left: calc((var(--margin-left-main) + 10px) * -1);*/
/*  position: absolute;*/
/*  top: 0;*/
/*}*/



/* Ipad */
.ipad.list .views-row a{
  line-height: 20px;
  font-size: 25px;
}

.ipad.list .views-row{
  margin-bottom: 40px;
  width: 100%;
  padding-right: var(--gap-between-columns);
}

.ipad.list main{
  margin-right:0;
}

.ipad.list h1{
  margin-bottom: 120px;
}

.ipad h1{
  font-size: 50px;
  margin-bottom: 60px;
}

.ipad main{
  margin-left: 150px;
  margin-top: 70px;
  margin-right: 125px;
  font-size: 25px;
}

.ipad main .views-element-container > div{
  margin-left: 21px;
}

.ipad figure,
.ipad img,
.ipad video{
  --ipad-figure-margin: 40px;
  max-width: 100%;
  height: auto;
  width: calc(100% - var(--ipad-figure-margin));
  margin-left: calc( var(--ipad-figure-margin) / 2 );
  margin-right: calc( var(--ipad-figure-margin) / 2 );
}

/* Screen */
.screen.list main{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 0;
}


.screen main{
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
}

.screen.list h1{
  margin-bottom: 150px;
}

.screen.list .views-row{
  margin-bottom: 50px;
}

.screen.list .views-row a{
  font-size: 50px;
}

.screen,
.screen h2{
  font-size: 39px;
}

/* Media */
.media video{
  --home-button-heigh: 0px;
  width: 100vw;
  height: calc(100vh - var(--home-button-heigh));
  margin-left: calc((var(--margin-left-main) + 10px) * -1);
  position: absolute;
  top: 0;
}

/* Black top and bottom rows */
[id^="block-blackrow"]{
  position: fixed;
  height: 40px;
  background-color: black;
  width: 100%;
  left: 0;
}

[id^="block-blackrow"] p{
  display: none;
}

header [id^="block-blackrow"]{
  top: 0;
}

footer [id^="block-blackrow"]{
  bottom: 0;
}
