@font-face {
  font-family: 'BlockBertholdRegular';
  src: url('../../font/BlockBertholdRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../../font/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../font/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size-title: 40px;
  --font-family-title: 'BlockBertholdRegular', sans-serif;
  --font-size-body: 29px;
  --font-family-body: 'HelveticaNeueLight', sans-serif;
  --font-size-circles: 50px;
  --font-family-list: 'HelveticaNeue', sans-serif;
  --font-size-li: 40px;
  --font-size-breadcrumb: 25px;

  --padding-right-language-switcher: 45px;
  --padding-right-language-switcher-lis: 5px;
  --margin-left-main: 70px;
  --gap-between-columns: 100px;
  --margin-bottom-main-lis: 30px;
  --home-top: 10px;
  --home-left: 20px;
}

body{
  font-family: var(--font-family-body);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-body);
}

main p,
header p{
  margin-top: 0;
  margin-bottom: 0;
}

main h1,
header h1{
  font-style: italic;
}

main a:link,
header a:link,
main a:visited,
header a:visited,
main a:hover,
header a:hover,
main a:active,
header a:active{
  text-decoration: none;
  color: white;
}

body .dialog-off-canvas-main-canvas{
  width: 100vw;
}

/* Language switcher */
header #block-languageswitcher ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: var(--padding-right-language-switcher);
}

#block-computerspill-breadcrumbs a,
#block-languageswitcher {
  font-size: var(--font-size-breadcrumb);
}

header #block-languageswitcher ul li{
  padding-right: var(--padding-right-language-switcher-lis);
  list-style: none;
}

header #block-languageswitcher ul li:nth-child(2):before{
  content: '/';
  padding-right: var(--padding-right-language-switcher-lis);
  color: lightgray;
}

header #block-languageswitcher ul li a{
  color: lightgray;
}

main {
  margin-left: var(--margin-left-main);
  margin-right: var(--margin-left-main);
  margin-bottom: 50px;
}

/* Title */
main #block-computerspill-page-title{
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  font-weight: normal;
  text-transform: uppercase;
}

/* List */
main ul,
main ol{
  /*column-count: 2;*/
  /*column-gap: var(--gap-between-columns);*/
}

main .views-element-container > div{
  display: flex;
  flex-flow: row wrap;
  margin-left: 42px;
}

main .views-element-container .views-row{
  list-style-type: disc;
  display: list-item;
  width: calc(50% - 30px);
  padding-right: 30px;
}

main ul li:not(.kint*),
main ol li,
main .views-element-container .views-row{
  font-family: var(--font-family-list);
  font-size: var(--font-size-circles);
  margin-bottom: var(--margin-bottom-main-lis);
}

main ul li a,
main ol li a,
main .views-element-container .views-row a{
  font-size: var(--font-size-li);
  font-weight: bold;
}

/* Content */
main img{
  width: 100px;
  height: 100px;
}

/* Home icon */
[id^="block-home"],
[id^="block-hjem"]{
  position: fixed;
  top: var(--home-top);
  left: var(--home-left);
  z-index: 9999;
}

[id^="block-home"] img,
[id^="block-hjem"] img{
  width: 45px;
  height: 45px;
  padding-top: 10px;
  padding-left: 10px;
}

/* Ipad */
.ipad.list .views-row a{
  line-height: 20px;
  font-size: 25px;
}

.ipad.list .views-row{
  margin-bottom: 40px;
  width: 100%;
  padding-right: var(--gap-between-columns);
}

.ipad.list main{
  margin-right:0;
}

.ipad.list h1{
  margin-bottom: 120px;
  font-size: 50px;
}

.ipad h1{
  font-size: 40px;
  margin-bottom: 60px;
}

.ipad main{
  margin-left: 100px;
  margin-top: 70px;
  margin-right: 100px;
  font-size: 25px;
}

.ipad.list main{
  margin-left: 150px;
  margin-right: 125px;
}

.ipad main .views-element-container > div{
  margin-left: 21px;
}

.ipad figure,
.ipad img,
.ipad video{
  max-width: 100%;
  height: auto;
  width: 100%;
}

.ipad img.vertical{
  width: 50% ;
}

/* Screen */
.screen.list main{
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 0;
}


.screen main{
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
}

.screen.list h1{
  margin-bottom: 150px;
}

.screen.list .views-row{
  margin-bottom: 50px;
}

.screen.list .views-row a{
  font-size: 50px;
}

.screen,
.screen h2{
  font-size: 39px;
}

/* Media */
.media video{
  --home-button-heigh: 0px;
  width: 100vw;
  height: calc(100vh - var(--home-button-heigh));
  margin-left: calc((var(--margin-left-main) + 10px) * -1);
  position: absolute;
  top: 0;
}

/* Black top and bottom rows */
[id^="block-blackrow"]{
  position: fixed;
  height: 38px;
  background-color: black;
  width: 100%;
  left: 0;
}

[id^="block-blackrow"] p{
  display: none;
}

header [id^="block-blackrow"]{
  top: 0;
}

footer [id^="block-blackrow"]{
  bottom: 0;
}

#block-badge-ipad-da,
#block-badge-ipad-en{
  width: 200px;
  height: 200px;
  font-size: 28px;
}

#block-badge-screen-da,
#block-badge-screen-en {
  width: 250px;
  height: 250px;
  font-size: 30px;
}

#block-badge-ipad-da,
#block-badge-screen-da,
#block-badge-ipad-en,
#block-badge-screen-en{
  font-family: var(--font-family-title);
  text-align: center;
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: radial-gradient(
    ellipse at center,
    rgba(102, 13, 40, 1) 0%,
    rgba(102, 13, 40, 1) 70%,
    rgba(102, 13, 40, 0) 70.3%
  );
}

#block-badge-ipad-da div,
#block-badge-screen-da div,
#block-badge-ipad-en div,
#block-badge-screen-en div{
  width: 100%;
  height: 100%;
}

#block-badge-ipad-da p,
#block-badge-screen-da p,
#block-badge-ipad-en p,
#block-badge-screen-en p{
  width: 100%;
  position: absolute;
  margin: 0;
  color: white;
  z-index: 1000;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#block-badge-ipad-da::before,
#block-badge-screen-da::before,
#block-badge-ipad-en::before,
#block-badge-screen-en::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
}

#block-badge-ipad-en > div::before,
#block-badge-screen-en > div::before,
#block-badge-ipad-da > div::before,
#block-badge-screen-da > div::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}
